
#projectTable {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
  }
  
  #projectTable th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  #projectTable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #projectTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #projectTable tbody tr:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }