body {
    background-color: #eee;
}

.global {
    display: grid;
    grid-template: 10vh 10vh 1fr / 1fr 2fr;
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5vh;
}

.first {
    padding-top: 2vh;
    margin-left: 30px;
    font-size: larger;
    font-weight: bolder;
    color: #14213D;
    border-right: 2px solid #14213D;
}

.first_ {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 2vh;
    margin-left: 2vh;
    color: #14213D;
}

.second {
    margin-left: 2vh;
    border-right: 2px solid #14213D;
}

.third {
    display: grid;
    border-right: 2px solid #14213D;
}

.third_ {
    display: grid;
}

.third_ > div {
    border-top: 2px solid #14213D;
    border-left: 2px dashed gainsboro;
    display: grid;
    align-items: center;
}
.third > div {
    padding-top: 0.5vh;
    padding-left: 3vh;
    border-top: 2px solid #14213D;
}

.grid {
    grid-template-columns: repeat(7, 1fr);
}

.row {
    grid-template-rows: repeat(8, 1fr);
}

input
{
    width:17vh;
    color:#14213D;
    background-color: white;
    border: 3px solid #E5E5E5;
    border-radius: 10px;
}

label.giorni {
    padding: 5px;
    color: #14213D;
}

label.responsabili   {
    padding: 5px;
    color: #14213D;
}

.project {
    display: grid;
    height: 6vh;
    margin-top: 3.7vh;
    text-align: center;
    align-items: center;
    border-top: 2px solid #14213D;
    background-color: #E5E5E5;
}

.project > div {
    width: 100%;
    height: 6vh;
    color: #14213D;
    border-left: 2px dashed #14213D;
    display: grid;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.project > div > div {
    text-align: center;
    width: 100%;
}

#orarioPreciso {
    justify-self: start;
    font-size: larger;
    font-weight: bolder;    
}

.sbarra_sinistra {
    margin-left: auto;
    width: 50%;
    height: 0.7vh;
    border: 1px solid black;
    border-right: 0px;
    border-radius: 2vh 0px 0px 2vh;
}

.sbarra_centro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0.7vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sbarra_destra {
    margin-right: auto;
    width: 50%;
    height: 0.7vh;
    border: 1px solid black;
    border-left: 0px;
    border-radius: 0px 2vh 2vh 0px;
}

.name {
    font-weight: bold;
    color: #14213D; /*colore modificato dinamicamente in base al colore del proggetto*/
}

.information {
    color: #5c6b73;
}

#projectTable {
    width:min-content;
    margin: 0 auto;
    overflow: hidden;
}



